{
  "plugins": [
    [ "@babel/plugin-proposal-object-rest-spread"],
    ["@babel/plugin-syntax-dynamic-import"],
    ["transform-class-properties"]
  ],
  "env": {
    "test": {
        "plugins": [
            "transform-es2015-modules-commonjs"
        ]
    }
},
  "presets": [
    ["@babel/preset-env", { "targets": { "esmodules": true } }],
    ["@babel/preset-react"]
  ]
}